/* blog.css */

/* Centering h2 and p */
h2, p {
    text-align: center;
}

h2 {
    font-size: 36px;
}

/* Creating grid for the main container */
.container {
    display: grid;
    grid-template-columns: 4fr 1fr; /* Three columns for sections, one column for aside */
    gap: 5%;
    margin-top: 3%;
}

/* Creating grid for the sections */
.container-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns for sections */
    gap: 5%;
}

/* Styling individual sections */
section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Center aligning text */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

/* Styling images in sections */
section img {
    display: block;
    margin: 0 auto; /* Centering the image horizontally */
    max-width: 100%; /* Ensuring image is responsive */
    height: auto; /* Maintaining aspect ratio */
    margin-bottom: 5%;
}

/* Styling the 'Read more' link */
section a {
    display: inline-block;
    margin-top: 10px; /* Adding some space below the paragraph */
    text-decoration: none;
    color: #007bff; /* Using Bootstrap's primary color */
}

/* Styling the 'Read more' link on hover */
section a:hover {
    text-decoration: underline;
}

/* Styling the aside */
aside {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}
aside h2 {
    font-size: 18px; /* Font size for the heading */
    margin-top: 0; /* Remove default margin from the top */
    margin-bottom: 10%; /* Margin at the bottom to separate heading from list */
}

aside ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

aside li {
    margin-bottom: 10%; /* Margin between list items */
}

aside a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove default underline */
}

aside a:hover {
    text-decoration: underline; /* Underline on hover */
}


/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    .container-1 {
        grid-template-columns: repeat(2, 1fr); /* Switching to single column layout */
    }
    footer {
        margin-top: 20%;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr; /* Switching to single column layout */
    }
    .container-1 {
        grid-template-columns: repeat(2, 1fr); /* Switching to single column layout */
    }

    footer {
        margin-top: 30%;
    }
}


@media screen and (max-width: 568px) {
    .container {
        grid-template-columns: 1fr; /* Switching to single column layout */
    }

    .container-1 {
        grid-template-columns: 1fr; /* Switching to single column layout */
    }

    footer {
        margin-top: 50%;
    }
}