/* Creating grid for the sections */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for sections */
    gap: 5%;
    justify-content: center;
    margin-top: 3%;

}

/* Styling individual sections */
section {
    color:#fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Center aligning text */
    background-color: #516c8b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling images in sections */
section img {
    display: block;
    margin: 0 auto; /* Centering the image horizontally */
    max-width: 100%; /* Ensuring image is responsive */
    height: auto; /* Maintaining aspect ratio */
    margin-bottom: 5%;
}

.title{
    color: aliceblue;
    text-align: center;
}

.container{
    text-align: center;
}